@font-face { font-family: fontPinterest; src: url("../fonts/fontface/Segoe UI Bold.woff"); }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: fontPinterest, arial; }

/* ----------MAIN--------------- */
.header { width: 100%; height: 80px; display: -ms-grid; display: grid; grid: 1fr / 1fr 860px 1fr; padding: 1px 16px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 80px; font-family: fontPinterest, Arial; }

.header__left .header__logo { color: #767676; background: none; width: 48px; height: 48px; border-radius: 100%; padding: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__left .header__logo .header__logo-icon { font-size: 24px; color: #e60023; }

.header__left .header__logo:hover { background: #f0f0f0; }

.header__left .header__home { background: #000; color: #fff; width: 74px; height: 48px; border-radius: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; }

.header__left .header__today { padding: 16px; color: #000; width: 63px; height: 48px; border-radius: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.header__left .header__today:hover { background: #f0f0f0; }

.header__left .header__following { width: 109.5px; height: 48px; border-radius: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.header__left .header__following:hover { background: #f0f0f0; }

.header__searcher { padding: 0 8px; position: relative; }

.header__searcher .header__searcher-input { outline: none; width: 835px; height: 48px; padding-left: 35px; color: #767676; font-size: 20px; border-radius: 50px; border: none; background: #efefef; -webkit-transition: 0.3s; transition: 0.3s; font-size: 18px; }

.header__searcher .header__searcher-input:hover { border-color: #dfdfdf; -webkit-box-shadow: 0 0 2px 0 #efefef; box-shadow: 0 0 2px 0 #efefef; background: #dfe0e0; }

.header__searcher .header__searcher-icon { position: absolute; top: 17px; left: 20px; color: #767676; -webkit-transition: 0.3s; transition: 0.3s; }

.header__panel { color: #767676; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__panel .header__panel-bell, .header__panel .header__panel-notification { font-size: 24px; width: 48px; height: 48px; border-radius: 100%; padding: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.header__panel .header__panel-bell:hover, .header__panel .header__panel-notification:hover { background: #f0f0f0; }

.header__panel .header__panel-avatar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 5px; }

.header__panel .header__panel-avatar .header__panel-avatar-img { width: 47px; height: 47px; border-radius: 100%; padding: 4px; }

.header__panel .header__panel-avatar .dropdown { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__panel .header__panel-avatar .dropdown .dropdown__icon { font-size: 24px; width: 24px; height: 24px; border-radius: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.header__panel .header__panel-avatar .dropdown .dropdown__icon:hover { background: #f0f0f0; -webkit-animation-name: rotate; animation-name: rotate; -webkit-animation-duration: 2s; animation-duration: 2s; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul { visibility: hidden; list-style: none; position: absolute; top: 70px; right: 5px; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li { background: #fff; width: 300px; padding-right: 10px; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(1) { border-radius: 10px 10px 0 0; padding: 10px 10px 0 0; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(2).no-active { display: none; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(3) { display: none; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(3).active { display: block; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(3).active p.dropdown__a { cursor: default; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(3).active p.dropdown__a a.instagram { padding-left: 10px; cursor: pointer; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(3).active p.dropdown__a a.instagram:hover { text-decoration: underline; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(4) { border-radius: 0 0 10px 10px; padding: 0 0 10px 0; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 10px; color: blueviolet; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(4) span { cursor: text; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(4) span:hover { background: none; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li .dropdown__a { margin-left: 20px; text-decoration: none; color: #000; font-size: 16px; display: block; border-radius: 10px; height: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 10px; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li .dropdown__a:hover { background: #f0f0f0; }

.header__panel .header__panel-avatar .dropdown .dropdown__ul-active { visibility: visible; }

/* -----------DARK MODE -------------- */
body.dark-modee { background: #292929; color: #eeeeee; }

body.dark-modee span { color: #eeeeee; }

body.dark-modee .header__logo:hover { background: #666666; }

body.dark-modee .header__today:hover, body.dark-modee .header__following:hover { background: #666666; color: #444444; }

body.dark-modee .header__panel-bell:hover, body.dark-modee .header__panel-notification:hover, body.dark-modee i.dropdown__icon:hover { color: #eeeeee; background: #666666; }

body.dark-modee i.dropdown__icon:hover { background: #888888; color: rebeccapurple; }

body.dark-modee .header__searcher-input { color: #dfe0e0; background: #333333; }

body.dark-modee .header__searcher-input:hover { background: #444444; }

body.dark-modee .header__panel { color: #eeeeee; }

body.dark-modee ul span { color: indigo; }

body.dark-modee p { color: #ddd; }

body.dark-modee a { color: #d38a8a; }

/* ------------CONTENT--------------- */
.gallery { margin: 0 50px; }

.gallery__img { max-width: 100%; display: block; border-radius: 20px; cursor: -webkit-zoom-in; cursor: zoom-in; }

p { color: black; padding: 8px 6px 10px; }

.masonry-layout { --columns: 1; --gap: 1.2rem; display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[var]; grid-template-columns: repeat(var(--columns), 1fr); grid-gap: var(--gap); }

.stadium-goods { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.stadium-goods img { background: #669; width: 30px; height: 30px; border-radius: 100%; }

.masonry-layout .masonry-item { margin-bottom: var(--gap); }

.masonry-layout.columns-1 { --columns: 1; }

.masonry-layout.columns-2 { --columns: 2; }

.masonry-layout.columns-3 { --columns: 3; }

.masonry-layout.columns-4 { --columns: 4; }

.masonry-layout.columns-5 { --columns: 5; }

.masonry-layout.columns-6 { --columns: 6; }

@media screen and (max-width: 415px) { .gallery { margin: 0 auto; }
  .header { padding: 0px 8px; width: 545px; }
  .header__left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .header__left .header__home { display: none; }
  .header__searcher { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .header__searcher input.header__searcher-input { width: 200px; }
  .header__searcher .header__searcher-icon { left: 30px; }
  .header__panel { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .header__panel .header__panel-avatar { margin-left: 0; }
  .header__panel .header__panel-avatar .header__panel-avatar-img { width: 50px; height: 50px; }
  .header__panel .header__panel-avatar i.dropdown__icon:hover { background: none; }
  .header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li { width: 150px; }
  .header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li a.dropdown__a { margin-left: 5px; height: 25px; font-size: 10px; }
  .header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li p.dropdown__a { font-size: 10px; margin-left: 5px; }
  .header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li p.dropdown__a a.instagram { color: steelblue; }
  .header__panel .header__panel-avatar .dropdown .dropdown__ul .dropdown__li:nth-child(4) span { color: tomato; font-size: 8px; }
  .masonry-layout { -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); margin: 0 20px; }
  p { font-size: 13px; } }

@media screen and (max-width: 700px) { .header { width: 100vw; height: 80px; display: -ms-grid; display: grid; grid: 1fr / auto auto auto; padding: 4px 16px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .header__left .header__home { width: 93px; height: 49px; }
  .header__left .header__logo { width: 48px; height: 48px; }
  .header__left .header__logo img { width: 50px; height: 30px; }
  .header__left .header__following { display: none; }
  .header__left .header__today { display: none; }
  .header__searcher .header__searcher-input { width: 300px; }
  .header__panel .header__panel-bell { display: none; }
  .header__panel .header__panel-notification { display: none; }
  .header__panel .header__panel-avatar .dropdown__icon { margin-left: 0px; } }

/* END */
/*# sourceMappingURL=styles.css.map */